body {
  background-color: #f3f0ff;
  font-family: sans-serif;
}

h1,
h2,
p,
button {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
  display: block;
  margin: 0 auto;
  padding: 0.9375rem 1.5625rem;
  cursor: pointer;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  margin-top: 0.9375rem;
  margin-bottom: 0px;
}

p {
  font-size: 2rem;
}

div {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

button {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.9375rem 1.5625rem;
  cursor: pointer;
  color: #f8f9fa;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  margin-top: 2.8125rem;
  margin-bottom: 0.9375rem;
  display: inline-block;
}

.btn1 {
  background-color: #fa5252;
}

.btn2 {
  background-color: #5c7cfa;
}

/* Footer */
footer {
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  opacity: 0.4;
}
